mixin postings(info)
    tbody
        tr(onclick=`location.href="/board/${info._id}/see"` style="cursor:pointer") 
            td=info.number  
            td=info.title
            td=info.author
            td #{info.createAt.toISOString().slice(0,10)}
            td=info.views
