mixin postings(info)
    tbody
        tr#postsInfo(onclick=`location.href="/board/${info._id}/see"` data-id=info._id style="cursor:pointer") 
            td=info.number  
            td=info.title
            td=info.author
            td #{info.createAt.toISOString().slice(0,10)}
            td=info.views
