mixin gameDetail(info)
    li#latestList(data-id=info.gameInfo.matchId style=`background:${info.basicSummoner.rate.win === "승리" ? "#A3CFEC" : "#E2B6B3"}`)
        .detatil__components
            .detatil__game__MetaData
                h3.gameWin=info.basicSummoner.rate.win
                span.gameType=info.gameInfo.gameType
                if info.gameInfo.duration > 100000
                    span.gameDuration=Math.floor(info.gameInfo.duration/1000/60)+"분 플레이"
                else
                    span.gameDuration=Math.floor(info.gameInfo.duration/60)+"분 플레이"
                span.gameDate=(new Date(info.gameInfo.gameCreation)).toISOString().slice(0,10)
            .detatil__user__ChampionInfo
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/${info.basicSummoner.champion}.png`, alt="").playChampImg
                .spell
                    img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/${info.basicSummoner.spells.first}.png`, alt="")
                    img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/${info.basicSummoner.spells.second}.png`, alt="")
                    
        
            .detatil__user__WinRate
                span.kill__death=info.basicSummoner.rate.kills+" / "+info.basicSummoner.rate.deaths+" / "+info.basicSummoner.rate.assists
                span.average="평점: "+((info.basicSummoner.rate.kills+info.basicSummoner.rate.assists)/info.basicSummoner.rate.deaths).toFixed(2)
            .detatil__user__Items
                span.item__title 아이템
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")
            .detatil__user__Runes
                span.run__title 룬
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.main.style}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.main.rune1}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.main.rune2}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.main.rune3}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.main.rune4}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.sub.style}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.sub.rune1}`, alt="")
                img(src=`https://ddragon.leagueoflegends.com/cdn/img/${info.basicSummoner.runes.sub.rune2}`, alt="")
            button(data-id=info.gameInfo.matchId)#detailBtn.detail__users__btn.btn.btn-info.btn-sm 상세정보
        table.table.detail__table.team1
            thead
                tr
                    td 룬스펠
                    td 소환사 정보
                    td 아이템
                    td 킬뎃
                    td 미니언킬
                    td 개인 골드
            tbody
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
        table.table.detail__table.team2.table-bordered
            thead
                tr
                    td 룬스펠
                    td 소환사 정보
                    td 아이템
                    td 킬뎃
                    td 미니언킬
                    td 개인 골드
            tbody
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
                tr
                    td
                        .rune-spell
                            .runeStyle
                                img(src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7200_Domination.png", alt="")
                            .spell
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                                img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/SummonerDot.png", alt="")
                    td
                        .championInfo                       
                            span.level 12
                            img(src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/champion/Teemo.png", alt="") 
                            span.summonerName 지노스프
                    td
                        .items                        
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item0}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item1}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item2}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.itemSub}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item3}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item4}.png`, alt="")
                            img(src=`http://ddragon.leagueoflegends.com/cdn/11.21.1/img/item/${info.basicSummoner.items.item5}.png`, alt="")                            
                    td
                        .grade                       
                            span 2 / 7 / 9
                    td
                        .minionKills                  
                            span 105
                    td
                        .gold
                            span 20000
        



        
    
                


            


