extends base/layout

include ./mixins/topThree

block content 
    .ranking__wrapper
        if page === 1
            .ranking-highest
                ul.ranking-highest__list
                    - for(let i=0; i<3; i++){
                        each topInfo in [challenger[i]]
                            li.ranking-highest__item
                                .ranking-highest__item--rank
                                    i.fas.fa-medal.fa-2x
                                    span.summoner--level=" Lv."+topInfo.summonerLevel
                                .ranking-highest__item--summoner
                                    img(style="" src=`https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/${topInfo.profileIconId}.png`, alt="")                    
                                    span=topInfo.summonerName
                                .ranking-highest__item--tier
                                    img(style="" src="https://opgg-static.akamaized.net/images/medals/challenger_1.png?image=q_auto:best&v=1", alt="")
                                    .ranking-highest__item--tierLp
                                        span="Challenger "+topInfo.rank
                                        span=topInfo.leaguePoints+" LP"
                                .ranking-highest__item--winratio
                                    span=topInfo.wins+"승 "+topInfo.losses+"패 "+ Math.ceil(topInfo.wins/(topInfo.wins+topInfo.losses)*100)+"%"
                    - }

            table.table.table-border.ranking-table
                thead
                    tr
                        th.ranking-table__header 랭킹
                        th.ranking-table__header 닉네임
                        th.ranking-table__header 티어
                        th.ranking-table__header LP
                        th.ranking-table__header 승률
                tbody
                    - for(let i=3; i<50; i++){
                        each info in [challenger[i]]
                            tr.ranking-table__row 
                                td.ranking-table__cell.ranking-table__cell--rank=i+1
                                td.ranking-table__cell.ranking-table__cell--summoner=info.summonerName
                                td.ranking-table__cell.ranking-table__cell--tier="Challenger "+info.rank
                                td.ranking-table__cell.ranking-table__cell--lp=info.leaguePoints+" LP"
                                td.ranking-table__cell.ranking-table__cell--winratio=info.wins+"승 "+info.losses+"패 "+ Math.ceil(info.wins/(info.wins+info.losses)*100)+"%"
                    - }
        else
            table.table.table-border.ranking-table
                thead
                    tr
                        th.ranking-table__header 랭킹
                        th.ranking-table__header 닉네임
                        th.ranking-table__header 티어
                        th.ranking-table__header LP
                        th.ranking-table__header 승률
                tbody
                    - for(let i=0; i<50; i++){
                        each info in [challenger[i]]
                            tr.ranking-table__row
                                if page === 1
                                    td.ranking-table__cell.ranking-table__cell--rank=1+i
                                else if page === 2 
                                    td.ranking-table__cell.ranking-table__cell--rank=51+i
                                else if page === 3
                                    td.ranking-table__cell.ranking-table__cell--rank=101+i
                                else if page === 4
                                    td.ranking-table__cell.ranking-table__cell--rank=151+i
                                else if page === 5
                                    td.ranking-table__cell.ranking-table__cell--rank=201+i
                                else if page === 6
                                    td.ranking-table__cell.ranking-table__cell--rank=251+i
                                td.ranking-table__cell.ranking-table__cell--summoner=info.summonerName
                                td.ranking-table__cell.ranking-table__cell--tier="Challenger "+info.rank
                                td.ranking-table__cell.ranking-table__cell--lp=info.leaguePoints+" LP"
                                td.ranking-table__cell.ranking-table__cell--winratio=info.wins+"승 "+info.losses+"패 "+ Math.ceil(info.wins/(info.wins+info.losses)*100)+"%"
                    - }


        .ranking-pagination
            ul.ranking-pagination__list
                li.ranking-pagination__item
                        if page === 1
                            button.btn.btn-default.disabled ◀ 
                        else
                            a(href=`/ranking/page=${page > 1 ? page -1 : 1}`)
                                button.btn.btn-default ◀
                each i in [1,2,3,4,5,6] 
                    li.ranking-pagination__item
                        if page === i
                            a(href=`/ranking/page=${i}`)
                                button.btn.btn-info.active=i 
                        else    
                            a(href=`/ranking/page=${i}`)
                                button.btn.btn-default=i 
                li.ranking-pagination__item
                    if page === 6
                        button.btn.btn-default.disabled ▶
                    else
                        a(href=`/ranking/page=${page < 6 ? page+1 : 6}`)
                            button.btn.btn-default ▶ 


