extends base/layout

include ./mixins/gameDetail

block content
    .search__wrapper
        .search__contents
            .side__content
                .summoner
                    img(src=`https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/${userInfo.profileIconId}.png`).summoner__icon
                    .summoner__metaData
                        span.summoner__name=userInfo.name
                        span.summoner__level="레벨: "+userInfo.summonerLevel
                        //- span.summoner__ranking 500.000위 (상위 10%)
                        span.summoner__lastPlayTime="최근게임: "+ new Date(userInfo.revisionDate).toISOString().slice(0,10)
                .summoner__menu
                    //- button 정보 갱신
                    //- button 인게임 정보
                .ingame
            .real__content
                .rank
                    if soloInfo              
                        .rankDivision.soloRank
                            img(src=`https://opgg-static.akamaized.net/images/medals/${soloInfo.tier.toUpperCase()}_1.png?image=q_auto:best&v=1`, alt="").emblem
                            header
                                h3.type Solo Rank
                            .rank__metaData
                                span.rank__tier=soloInfo.tier+" "+soloInfo.rank+" "
                                span.rank__lp=soloInfo.leaguePoints+" LP"
                            span.win__rate=soloInfo.wins+"승 "+soloInfo.losses+"패 "+Math.ceil(soloInfo.wins/(soloInfo.wins+soloInfo.losses)*100)+"%"

                    else
                        .rankDivision.soloRank
                            img(src=`https://opgg-static.akamaized.net/images/medals/default.png?image=q_auto:best&v=1`, alt="").emblem
                            header
                                h3.type Solo Rank
                            .rank__metaData
                                span.rank__tier UnLank
                                span.rank__lp  0 LP
                            span.win__rate 0승 0패 0%

                    if flexInfo
                        .rankDivision.flexRank
                            img(src=`https://opgg-static.akamaized.net/images/medals/${flexInfo.tier.toUpperCase()}_1.png?image=q_auto:best&v=1`, alt="").emblem
                            header
                                h3.type Flex Rank
                            .rank__metaData
                                span.rank__tier=flexInfo.tier+" "+flexInfo.rank+" "
                                span.rank__lp=flexInfo.leaguePoints+" LP"
                            span.win__rate=flexInfo.wins+"승 "+flexInfo.losses+"패 "+Math.ceil(flexInfo.wins/(flexInfo.wins+flexInfo.losses)*100)+"%"

                    else
                        .rankDivision.flexRank
                            img(src=`https://opgg-static.akamaized.net/images/medals/default.png?image=q_auto:best&v=1`, alt="").emblem
                            header
                                h3.type Flex Rank
                            .rank__metaData
                                span.rank__tier UnLank
                                span.rank__lp  0 LP
                            span.win__rate 0승 0패 0%
                .gameList
                    ul.latest__list
                        each gameDetail in gameDetails
                            +gameDetail(gameDetail)


block scripts
    script.
        const main = document.querySelector("main");
        main.style.width= "80%";
    script(src="/assets/js/gameDetail.js") 
     





    