extends base/layout

include ./mixins/comment

block content
    .seeBoard__wrapper
        header.see__header
            h2=posting.title
            .see__info
                .see__author
                    img(src=`https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/${posting.profileIconId}.png`, alt="")
                    span=posting.author
                .see__meta
                    span.createAt #{posting.createAt.toISOString().slice(0,10)}
                    span.commentCnt="댓글: "+1
                    span.viewsCnt="조회수: "+posting.views 
        .content
            p#content #{posting.contents}
            script.
                const content = document.getElementById("content")
                const contentText = content.innerText
                const doc = new DOMParser().parseFromString(contentText, "text/html");
                content.innerHTML = doc.body.innerHTML
                
        .comment#comment(data-id=posting._id)
            .write__comment
                form#commentForm(method="POST")
                    textarea#commentText(name="comment", rows="3") 
                    button(type="submit")#commentRegisterBtn 등록
            if (posting.comments.length >= 0)
                .see__comment           
                    ul#commentList.comment__list
                        each comment in posting.comments
                            +comments(comment)


block scripts
    script(src="/assets/js/comment.js") 

    