extends base/layout

include ./mixins/comment

block content
    .see-posting__wrapper
        header.posting__header
            if String(loggedInUser._id) === String(posting.owner)
                menu.posting__menu
                    a(href=`/board/${posting._id}/delete`) 글삭제
                    a(href="#") 글수정               
            h2.posting-title=posting.title
            .posting-info
                .posting-author
                    img.author-profile__img(src=`${process.env.LOL_CDN_URL}img/profileicon/${posting.profileIconId}.png`, alt="")
                    span.author-nickname=posting.author
                .posting-meta
                    span.posting-createAt #{posting.createAt.toISOString().slice(0,10)}
                    span.posting-commentCnt="댓글: "+posting.comments.length
                    span.posting-viewsCnt="조회수: "+posting.views 
        .posting-content
            p#content #{posting.contents}
            script.
                const content = document.getElementById("content")
                const contentText = content.innerText
                const doc = new DOMParser().parseFromString(contentText, "text/html");
                content.innerHTML = doc.body.innerHTML
                
        .posting-comment#comment(data-id=posting._id)
            header.comment__header
                h3.comment__title 댓글
            if loggedIn
                .write-comment
                    form.write-comment__form#commentForm(method="POST")
                        textarea.write-comment__textarea#commentText(name="comment", rows="3")
                        button.write-comment__resistorBtn(type="submit")#commentRegisterBtn.btn.btn-primary 등록
            if (posting.comments.length >= 0)
                .see-comment           
                    ul#commentList.comment__list
                        each comment in posting.comments
                            +comments(comment)


block scripts
    script(src="/assets/js/comment.js") 

    